/**
 * Dark theme variables
 */

:root {
  --base-color: #FF99AD;
  --border: dashed 1px rgba(255, 128, 153, 0.9);
  --selection-background: rgba(219, 219, 219, 0.99);
  --selection-text: #000;
  --background-color: #0E0A0F;
  --text-color: var(--base-color);
  --link-color: var(--base-color);
}
